#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC         &kp Q   &kp W               &kp E           &kp R           &kp T    &kp Y  &kp U            &kp I           &kp O                &kp P      &kp BSPC
&kp TAB         &kp A   &mt LEFT_CONTROL S  &mt LEFT_GUI D  &mt LEFT_ALT F  &kp G    &kp H  &mt RIGHT_ALT J  &mt LEFT_GUI K  &mt RIGHT_CONTROL L  &kp SEMI   &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X               &kp C           &kp V           &kp B    &kp N  &kp M            &kp COMMA       &kp DOT              &kp SLASH  &kp RSHFT
&trans          &trans  &mo 2               &kp ENTER                                       &sk SPACE        &tog 2          &trans               &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                            &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans           &kp KP_NUMBER_0                                     &trans  &trans  &trans  &trans
            >;
        };
    };
};
